*{
	box-sizing: border-box;
}
body{
	margin: 0;
	display: block;
	font-family: Arial, sans-serif;
	background: #F1F1F1;
}
.ba-container{
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 20px;
}
.ba-search-form{
	font-size: 0;
}
.ba-search-form > [type="search"]{
	font-size: 95px;
	display: inline-block;
	width: calc(100% - 80px);
	vertical-align: middle;
	color: #ec5a62;;
	border: none;
	background: transparent;

}
.ba-search-form > button{
	width: 80px;
	height: 80px;
	display: inline-block;
	vertical-align: middle;
	background: transparent url('../img/magnifier.svg');
}
.ba-column{
	display: inline-block;
	padding: 0 20px;
	width: 30%;
	text-align: ;
	vertical-align: top;
}
.ba-hugesearch-list{
	padding: 5px 0 0 10px;
	margin-top: 40px;
	list-style: none;


}
.ba-hugesearch-list a{
	display: block;
	padding: 0.75px;
	text-decoration: none;
	cursor: pointer;
	margin-bottom: 5px;
}
.ba-hugesearch-list li{
	background: #e0d5d5;
	margin-bottom: 2px;
}
.ba-circle{
	display: inline-block;
	width: 50px;
	margin:px;
	vertical-align: middle;
	border-radius: 50%;
}
.ba-hugesearch-list h3{
	vertical-align: middle;
	font-size: 0.85em;
	display: inline-block;
	margin: 0 0 0 0;
	color: rgba(145,145,145,0.7);
	width: calc(100% - 90px);


}
.ba-hugesearch-list h3:hover{
	color:#ec5a62;

}
.ba-hugesearch-list li:hover{
	background: #E4E4E5;
}
.ba-column h2{
	color: #C2CBD7;
	text-align: center;
}
